
*.iml
*.xml
*.checkpoint.ipynb
.idea/vcs.xml
.idea/misc.xml
.idea/Scripts.iml
.idea/vcs.xml
.idea/misc.xml
.idea/Scripts.iml
.idea/vcs.xml
CatGT.log
.idea/misc.xml
.idea/Scripts.iml
.idea/vcs.xml
CatGT.log
.ipynb_checkpoints/AddingCircleToOF-checkpoint.ipynb
.ipynb_checkpoints/readNpyFiles-checkpoint.ipynb
.ipynb_checkpoints/TestROIlocation_video-checkpoint.ipynb
.ipynb_checkpoints/videoFuncMac-checkpoint.ipynb
